@font-face
{
  font-family: "Calibri";
}

html, body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body
{
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-color: #FAF9F6;
  font-family: Calibri, "Arial", serif;
  text-align: center;
}


#graph, #options {
  border: 3px solid black;
}





#options {
  vertical-align: top;
  background-color: #DBFAFC;
}

#xCoord, #yCoord, #submit, #cancel,#remove_node,#change_node_color{
  visibility: hidden;
}

#warning
{
  font-style: italic;
}

.group
{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 3px solid black;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.option
{
  width: 200px;
}

#box
{
  border: 0px;
  padding: 30px;
}

#showCoords
{
  display: inline-block;
}



#showCoords_text
{
  display: inline-block;
}

.slider {
  /* Use flexbox for slider wrapper element */
  display:flex;
  /* Direct alignment of content along horizontal axis */
  flex-direction:row;
  /* Tell's flexbox to center content around the non-horizontal axis (ie around the vertical axis) */
  align-items:center;
}

.slider-label {
  width:30px;
}

.slider-input {
  /* Causes the input element to horizontally stretch to fill in available horizontal space */
  flex:1;
  width: 200px;
}

.slider-value {
  width: 30px;
}
